<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>{{ site.com }}</title>
	<meta name="keywords" content="FreeSWITCH wiki" />
	<link rel="stylesheet" href="/css/default.css" type="text/css" media="screen" title="default" charset="utf-8">

</head>
<body>
<div id="header">
	<div id="logo">
		<h1><a href="/">FreeSWITCH中文文档</a></h1>
		<p>FreeSWITCH-CN Wiki</p>
	</div>
	<div id="menu">
		<ul>
			<li><a href="/">首页</a></li>
			<li><a href="/wiki/index.html">WIKI</a></li>
			<li><a href="/list.html">进度</a></li>
			<li><a href="/about.html">关于</a></li>
		</ul>
	</div>
</div>
<hr/>
<div id="wrapper">
	<div id="page">
		<div id="content">
			{{ content }}
		</div>
	</div>
</div>
<div style="clear:both"></div>
<div class="footer" style="text-align:center">
	版权所有 &copy; 2011-2012. www.freeswitch.org.cn
</div>
</body>
