<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>{{ site.com }}</title>
	<meta name="keywords" content="FreeSWITCH中文 FreeSWITCH中文社区 FreeSWITCH中文资料 FreeSWITCH中文Wiki FreeSWITCH中文教程 VoIP SIP 配置 Chinese China" />
	<meta name="description" content="FreeSWITCH中文文档网站是由FreeSWITCH-CN中文社区驱动、最完善、最权威的FreeSWITCH中文文档资料网站，是广大中文FreeSWITCH爱好者良好的学习平台。" />
	<link rel="stylesheet" href="/css/fs_shared.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/css/fs_commonPrint.css" type="text/css" media="print" />
	<link rel="stylesheet" href="/css/fs_main.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/css/default.css" type="text/css" media="screen" title="default" charset="utf-8">
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-23494895-2']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>
<div id="header">
	<div id="logo">
		<h1><a href="/">FreeSWITCH中文文档</a></h1>
		<p>FreeSWITCH-CN Wiki</p>
	</div>
	<div id="menu">
		<ul>
			<li><a href="/">首页</a></li>
			<li><a href="/wiki/index.html">WIKI</a></li>
			<li><a href="/list.html">进度</a></li>
			<li><a href="http://www.freeswitch.org.cn">社区</a></li>
			<li><a href="/about.html">关于</a></li>
		</ul>
	</div>
</div>
<hr/>
<div id="wrapper">
	<div id="page">
		<div id="content">
			{{ content }}
		</div>
	</div>
</div>
<div style="clear:both"></div>
<div class="footer">
	<div id="legal">
		<div style="float:left;margin-right:10px">
		<a rel="licence" href="http://creativecommons.org/licenses/by-nc-nd/2.5/cn/"
			target="_blank"><img src="http://i.creativecommons.org/l/by-nc-nd/2.5/cn/88x31.png"/></a>
		</div>

		Copyright &copy; FreeSWITCH-CN. 除非另有声明，本站内容采用
		<a href="http://creativecommons.org/licenses/by-nc-nd/2.5/cn/legalcode"
		target="_blank" rel="licence">知识共享 署名-非商业性使用-禁止演绎 2.5 中国大陆(CC-BY-NC-ND)</a>授权
		<br />
		CSS template from
		<a href="http://www.freecsstemplates.org/preview/replenish">Replenish</a>
		... Site maintained by <a href="http://about.me/dujinfang" target="_blank">Seven</a>
		版权所有 &copy; 2011-2012. www.freeswitch.org.cn
	</div>
</div>
</body>
